/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 14px;
$fontM: 15px;
$fontL: 16px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #262626;
$fontGray: #8590a6;
$fontBlue: #3e7ac2;

/* default background color */
$bgc: #f7f8fa;

/* other color */
$white: #fff;
$blue: #0f88eb;

/*---------------------------
 * layout
 *---------------------------*/
/* default space */
$space: 2vh;
$iconMarginR: .8vh;

$btnHeight: .34rem;

/*---------------------------
 * radius
 *---------------------------*/
$radius: .03rem;